PORT=5050

CORS_ORIGIN_DEV=
CORS_ORIGIN_PROD=

NODE_ENV=production

MONGO_URI=


ENCRYPTION_ROUND=


ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DEFAULT_AVATAR=

FAST2SMS_API_KEY=
FAST2SMS_ROUTE=otp

OPENAI_API_KEY=
OPENAI_MODEL=